body .et_pb_button {
	font-weight: 300;
	padding: 10px 30px
}

span.mobile_menu_bar.et_pb_header_toggle.et_toggle_slide_menu {
	background: #00000014;
	border-radius: 60px;
	height: 41px;
	padding: 5px 0 0 5px;
	width: 41px
}

.mobile_menu_bar:after,
.mobile_menu_bar:before,
.et_toggle_slide_menu:after {
	color: #222 !important
}

.et_pb_menu__wrap,
.et_pb_menu__menu {
	display: none !important
}

.scroll-images p img {
	border-radius: 10px;
	margin-right: 20px;
	width: 500px
}

.moove-gdpr-branding-cnt {
	display: none
}

.badge {
	border-radius: 4px;
	font-size: 10px;
	font-variation-settings: wght 800;
	font-weight: 700;
	letter-spacing: .05em;
	padding: 3px 5px;
	text-transform: uppercase;
	vertical-align: middle
}

.badge-magenta {
	background-color: #FFE5F4;
	background-color: #FFE5F4;
	color: #CC0078;
	color: #CC0078
}

.badge-aqua {
	background-color: #C7F5EB;
	background-color: #C7F5EB;
	color: #0E8161;
	color: #0E8161
}

.badge-success {
	background: #d2fbd0;
	color: #0d5f07
}

.badge-danger {
	background-color: #fbd0da;
	color: #5f071c
}

.badge-warning {
	background-color: #fbf5d0;
	color: #5f5207
}

.badge-green {
	background-color: #CFF6CC;
	color: #0B9200
}

.btn-sidebyside .et_pb_button_module_wrapper,
.btn-sidebyside .et_pb_text {
	display: inline-block
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder button.mgbutton {
	border: 2px solid #1743df
}

.link {
	cursor: pointer !important;
	display: inline-block;
	text-decoration: none;
	transition: color .1s
}

.et-l--footer ul {
	padding: 0
}

.grandient.two h2 span {
	font-weight: 900
}

.grandient h2 span {
	-moz-animation: Gradient 5s ease infinite !important;
	-webkit-animation: Gradient 5s ease infinite !important;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: Gradient 5s ease infinite !important;
	background-clip: text;
	background-image: linear-gradient(-45deg, #1743df, #994fdd, #e15594, #00ffb2) !important;
	background-size: 300% !important;
	display: inline-block;
	font-weight: 600;
	text-fill-color: transparent
}

#inner-page p a,
.autor a,
.et_pb_blog_0_tb_body .et_pb_post .post-meta a,
.single-post .post p a,
a.comment-edit-link,
.single-post .post-content a {
	background-image: linear-gradient(120deg, #ff5ba7 0%, #ff5ba7 100%);
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: 100% 2px;
	color: inherit !important;
	font-weight: 400;
	transition: background-size .25s ease-in-out
}

#inner-page p a:hover,
.autor a:hover,
.et_pb_blog_0_tb_body .et_pb_post .post-meta a:hover,
.single-post .post p a:hover,
a.comment-edit-link:hover,
.single-post .post-content a:hover {
	background-size: 100% 100%;
	border-bottom: 0 !important;
	color: #fff !important;
	transition: ease all .3s
}

#pot {
	-webkit-animation: linear infinite;
	-webkit-animation-duration: 200s;
	-webkit-animation-name: run;
	bottom: 15%;
	position: absolute
}

.sue-highlight-text-uno {
	box-shadow: inset 0 -.5em 0 #feeb8e;
	color: inherit;
	text-decoration: none
}

.sue-highlight-text-dos {
	box-shadow: inset 0 -.5em 0 #d0e2ff;
	color: inherit;
	text-decoration: none
}

.sue-highlight-text-tres {
	box-shadow: inset 0 -.5em 0 #bff3f1;
	color: inherit;
	text-decoration: none
}

.sue-highlight-text-cuatro {
	box-shadow: inset 0 -.5em 0 #fff4c0;
	color: inherit;
	text-decoration: none
}

.marquee {
	font-family: 'Poppins';
	height: 150px;
	max-width: 100%;
	overflow-x: hidden;
	padding-top: 35px;
	position: relative;
	width: 100vw
}

.slow-lane {
	animation: marquee 200s linear infinite;
	position: absolute;
	white-space: nowrap;
	will-change: transform
}

.home .dica-image-container span img {
	border-radius: 10px
}

.swiper-pagination-bullet {
	height: 15px !important;
	margin: 15px 0 !important;
	width: 15px !important
}

.dica_divi_carousel .swiper-pagination-bullet {
	margin-right: 15px !important
}

.swiper-pagination.dica-paination-1.swiper-pagination-clickable.swiper-pagination-bullets span:last-child {
	margin-right: 0 !important
}

.alejandro-cv span img {
	height: 175vh !important
}

.dvppl_cf7_styler_0 .dipe-cf7 .wpcf7-acceptance input[type="checkbox"]+span:before,
.dvppl_cf7_styler_0 .dipe-cf7 .wpcf7-checkbox input[type="checkbox"]+span:before {
	background-color: #f5f5f500 !important
}

span.wpcf7-not-valid-tip {
	color: red;
	font-size: 12px;
	font-weight: 300
}

.wpcf7-list-item {
	display: inline-block;
	line-height: 15px;
	margin: 0
}

#alles span.wpcf7-not-valid-tip,
#right span.wpcf7-not-valid-tip,
#left span.wpcf7-not-valid-tip {
	margin-bottom: -29px
}

#alles label span,
#right label span,
#left label span {
	color: red;
	font-weight: 300
}

span.wpcf7-list-item-label {
	font-size: 12px;
	font-weight: 300
}

body #page-container .et_pb_section .dvppl_cf7_styler_0 .wpcf7-form input[type=submit] {
	box-shadow: 0 6px 3px 0 #00000005;
	font-weight: 300;
	width: 100%
}

body #page-container .et_pb_section .dvppl_cf7_styler_0 .wpcf7-form input[type=submit]:hover {
	background: #fff !important;
	color: #1743DF
}

.dvppl_cf7_styler_0 {
	padding-bottom: 0 !important
}

input.text,
input.title,
input[type=email],
input[type=password],
input[type=tel],
input[type=text],
select,
textarea {
	border: 1px solid #fff;
	box-shadow: 0 6px 3px 0 #00000005;
	color: #4e4e4e
}

.wpcf7-spinner {
	display: flex;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 15px;
	position: relative
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
	background: #ffb90038;
	border-color: #ffb900;
	border-radius: 100px;
	font-size: 13px;
	text-align: center !important
}

.wpcf7 form.sent .wpcf7-response-output {
	background: #46b45066;
	border-color: #46b450;
	border-radius: 100px;
	font-size: 13px;
	text-align: center !important
}

textarea.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required {
	border-radius: 20px !important
}

#alles {
	margin-bottom: 30px !important;
	margin-top: 10px;
	width: 100%
}

#left {
	float: left;
	margin-right: 2%;
	margin-top: 10px;
	width: 49%
}

#right {
	float: left;
	margin-top: 10px;
	width: 49%
}

.clearfix:after {
	clear: both;
	content: "\0020";
	display: block;
	height: 0;
	margin-bottom: 10px;
	overflow: hidden;
	visibility: hidden
}

.clearfix {
	display: block
}

.et_pb_posts .et_pb_post {
	background: #fff !important;
	border-radius: 10px !important;
	position: relative
}

.et_pb_post .post-meta {
	margin-top: 10px
}

.et_pb_posts .et_pb_post h2,
.et_pb_posts .et_pb_post .post-meta,
.et_pb_posts .et_pb_post .post-content {
	padding: 0 30px
}

a.more-link {
	background-color: #1743df;
	border: 2px solid #1743df;
	border-radius: 50px;
	color: #fff;
	font-weight: 200;
	letter-spacing: -1px;
	margin-bottom: 30px;
	margin-top: 10px;
	margin-top: 25px;
	padding: 11px 5px;
	text-align: center;
	text-transform: capitalize;
	transition: all 300ms ease 0ms;
	width: 165px
}

.column.size-1of3 article,
.column.size-1of2 article,
.column.size-1of1 article {
	transition: all 300ms ease 0ms
}

.column.size-1of3 article:hover,
.column.size-1of2 article:hover,
.column.size-1of1 article:hover {
	box-shadow: 0 20px 30px -10px #170000
}

a.more-link:hover {
	background-color: #fff;
	border: 2px solid #1743df;
	color: #1743df
}

.blog-top-bar {
	height: 20px;
	width: 100%
}

.blog-top-bar .sharing {
	float: left
}

.blog-top-bar .views {
	align-items: flex-end;
	display: flex;
	float: right
}

.blog .post img {
	transition: all 500ms ease 0ms
}

.blog-separator {
	background-color: #d7d7d7;
	height: 1px;
	margin-top: -7px;
	width: 100%
}

.post:hover .blog-image {
	transform: scale(1.05)
}

.single-post h1.entry-title {
	font-family: 'Inter', Helvetica, Arial, Lucida, sans-serif;
	font-weight: 900;
	letter-spacing: -2px;
	line-height: 75px
}

.single-post .et_post_meta_wrapper img {
	border-radius: 20px
}

.single-post .entry-content p {
	color: #222;
	font: 300 22px/40px 'Roboto', Helvetica, Arial, Lucida, sans-serif
}

p.logged-in-as,
p.comment-notes,
p.comment-form-cookies-consent label {
	font-size: 14px;
	font-weight: 300
}

a.comment-edit-link {
	font-size: 14px
}

h1#comments {
	margin-bottom: 20px
}

.comment-body {
	margin-bottom: -10px
}

#respond {
	padding-top: 50px
}

span.nav-next a,
span.nav-previous a {
	background: #1743df !important;
	border: 2px solid #1743df;
	border-radius: 80px;
	color: #F2F2F2;
	font-size: 14px;
	padding: 0 20px;
	transition: all 300ms ease 0ms
}

span.nav-next a:hover,
span.nav-previous a:hover {
	background: #F2F2F2 !important;
	border: 2px solid #1743df;
	color: #1743df
}

a.buy-me-coffee img {
	margin-left: 12px !important;
	padding: 3px 0 0 !important;
	width: 14px !important
}

a.buy-me-coffee img:hover {
	animation: shake 1s ease 0s 1 normal both;
	transform: translate3d(0, 0, 0)
}

.post-views.content-post.post-528.entry-meta {
	color: #c00;
	font-size: 16px;
	font-weight: 300
}

.views span {
	color: #c00;
	font-size: 14px;
	font-weight: 300;
	margin-left: 4px
}

.post-views.entry-meta>span.post-views-icon.dashicons {
	margin-top: 1px
}

span.post-views-count {
	margin: 0 0 0 -3px
}

.blog-categories span a {
	background: #df1798;
	border: 1px solid #df1798;
	border-radius: 4px;
	color: #fff;
	font-size: 11px;
	font-weight: 400;
	padding: 2px 5px;
	transition: all 300ms ease 0ms
}

.blog-categories span a:hover {
	background: #F2F2F2;
	border: 1px solid #df1798;
	color: #df1798
}

.simplesocial-simple-icons button.ssb_fbshare-icon {
	border-radius: 4px !important;
	padding: 0 8px 0 3px !important
}

.simplesocial-simple-icons button.ssb_print-icon,
.simplesocial-simple-icons button.ssb_email-icon,
.simplesocial-simple-icons button.ssb_whatsapp-icon,
.simplesocial-simple-icons button.ssb_tweet-icon {
	border-radius: 4px !important;
	padding: 0 8px 0 7px !important
}

.simplesocial-simple-icons button.ssb_print-icon .icon,
.simplesocial-simple-icons button.ssb_email-icon .icon,
.simplesocial-simple-icons button.ssb_whatsapp-icon .icon {
	left: 6px !important
}

.simplesocial-simple-icons button.ssb_linkedin-icon .simplesocialtxt {
	padding: 0 7px 0 22px !important
}

.home .dica-container .et_pb_button_wrapper,
input.wpcf7-form-control.has-spinner.wpcf7-submit {
	margin-top: 30px !important
}

@keyframes shake {

	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 100%
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg)
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg)
	}

	80% {
		transform: rotate(-2deg)
	}

	10%,
	90% {
		transform: rotate(2deg)
	}
}

@-webkit-keyframes Gradient {
	50% {
		background-position: 100% 50%
	}

	0%,
	100% {
		background-position: 0 50%
	}
}

@-moz-keyframes Gradient {
	50% {
		background-position: 100% 50%
	}

	0%,
	100% {
		background-position: 0 50%
	}
}

@keyframes Gradient {
	50% {
		background-position: 100% 50%
	}

	0%,
	100% {
		background-position: 0 50%
	}
}

@keyframes run {
	50% {
		left: calc(100% - 100px)
	}

	0%,
	100% {
		left: 0
	}
}

@keyframes marquee {
	from {
		transform: translateX(0)
	}

	to {
		transform: translateX(-50%)
	}
}

@media (max-width: 1500px) {
	.alejandro-cv span img {
		height: 130vh !important
	}
}

@media (max-width: 1300px) {
	.alejandro-cv span img {
		height: 130vh !important
	}
}

@media (max-width: 1200px) {
	.alejandro-cv span img {
		height: 110vh !important
	}
}

@media (max-width: 980px) {
	.scroll-images p img {
		border-radius: 10px;
		margin-right: 20px;
		width: 400px
	}

	.alejandro-cv span img {
		height: 100vh !important
	}
}

@media (max-width: 768px) {
	.scroll-images p img {
		border-radius: 10px;
		margin-right: 20px;
		width: 250px
	}

	.alejandro-cv span img {
		height: 85vh !important
	}

	button.ssb_print-icon.simplesocial-email-share,
	button.ssb_whatsapp-icon.simplesocial-whatsapp-share {
		display: none
	}

	#left,
	#right {
		width: 100%
	}
}

@media (max-width: 600px) {
	.alejandro-cv span img {
		height: 65vh !important
	}
}

@media (max-width: 580px) {
	button.ssb_linkedin-icon {
		display: none
	}
}

@media (max-width: 450px) {
	button.ssb_email-icon.simplesocial-email-share {
		display: none
	}
}

@media (max-width: 400px) {
	.swiper-pagination-bullet {
		height: 15px !important;
		margin: 15px 0 !important;
		width: 15px !important
	}

	.dica_divi_carousel .swiper-pagination-bullet {
		margin-right: 15px !important
	}

	.alejandro-cv span img {
		height: 45vh !important
	}
}

@media (max-width: 320px) {
	.swiper-pagination-bullet {
		height: 12px !important;
		margin: 15px 0 !important;
		width: 12px !important
	}

	.dica_divi_carousel .swiper-pagination-bullet {
		margin-right: 15px !important
	}
}